@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@400;500&family=Noto+Sans+Thai:wght@400;500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.menu-icon {
    @apply mb-2 h-6 w-6;
}
.menu-text {
    @apply text-xs font-bold;
}

.icon {
    @apply inline-flex h-6 w-6 items-center justify-center;
}

.icon__button {
    @apply inline-flex h-5 w-5 items-center justify-center;
}

.icon-document__pagination {
    @apply inline-flex h-4 w-4 items-center justify-center text-gray-700;
}
.disabled-icon-document__pagination {
    @apply inline-flex h-4 w-4 items-center justify-center text-gray-400;
}

.icon-upload {
    @apply h-4 w-4 text-gray-400;
}

.hover-btn {
    @apply transition-all duration-200 hover:bg-primary/10 hover:text-primary;
}

.hover-document__pagination {
    @apply flex h-6 w-6 cursor-pointer items-center justify-center rounded transition-all duration-200 hover:bg-primary/10 hover:text-primary;
}
.disabled-document__pagination {
    @apply flex h-6 w-6 items-center justify-center rounded;
}

.hover-text {
    @apply cursor-pointer transition-all duration-200 hover:text-primary;
}

.transition {
    @apply transition-all duration-200;
}

.ant-menu-inline .ant-menu-item {
    height: 100%;
    padding-left: 16px !important;
}

.ant-menu-inline.ant-menu-root .ant-menu-item > .ant-menu-title-content {
    overflow: initial;
}

.ant-pro-card .ant-pro-card-collapsible-icon {
    color: #4b5563;
}

.ant-table-wrapper .ant-table-thead > tr > th {
    background: #f9fafb;
}

.ant-collapse .ant-collapse-content > .ant-collapse-content-box {
    padding: 0;
}
.ant-collapse > .ant-collapse-item > .ant-collapse-header {
    padding: 0;
}

.ant-modal .ant-modal-header {
    margin-bottom: 16px;
}
/* .ant-form-item {
    margin-bottom: 16px;
} */

*,
::before,
::after {
    box-sizing: border-box;
    font-family: 'Noto Sans Thai', sans-serif !important;
}

::before,
::after {
    --tw-content: '';
}

html {
    line-height: 1.5;
    -webkit-text-size-adjust: 100%;
    -moz-tab-size: 4;
    tab-size: 4;
}

body {
    margin: 0;
    line-height: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: inherit;
}

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
    margin: 0;
}

fieldset {
    margin: 0;
    padding: 0;
}

legend {
    padding: 0;
}

ol,
ul,
menu {
    list-style: none;
    margin: 0;
    padding: 0;
}

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
    display: block;
    vertical-align: middle;
}

:disabled {
    cursor: default;
}

img,
video {
    max-width: 100%;
    height: auto;
}

audio::-webkit-media-controls-panel {
    @apply bg-white/70;
}

[hidden] {
    display: none;
}
