@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@400;500&family=Noto+Sans+Thai:wght@400;500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.menu-icon {
    @apply mb-2 h-6 w-6;
}
.menu-text {
    @apply text-xs font-bold;
}

.icon {
    @apply inline-flex h-6 w-6 items-center justify-center;
}

* {
    font-family: 'Kanit', sans-serif;
    font-family: 'Noto Sans Thai', sans-serif;
}

.ant-menu-inline .ant-menu-item {
    height: 100%;
    padding-left: 16px !important;
}

.ant-menu-inline.ant-menu-root .ant-menu-item > .ant-menu-title-content {
    overflow: initial;
}
